<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title></title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}">
	<style type="text/css">
		@page { margin: 0.79in }
		p { margin-bottom: 0.1in; line-height: 120% }
		td p { margin-bottom: 0in }
	</style>
    
    <style>
        #p1 {
        color: white;
        font-size: 250%;
        font-family: monospace;
        font-weight: bold;
        text-align: center;
        }
        
        #p2 {
        color: black;
        font-size: 250%;
        font-family: monospace;
        font-weight: bold;
        text-align: center;
        }

        table {
        border-collapse: collapse;
        }

        table, td, th {
        border: 1px solid black;
        }
    </style>
    
</head>

<body lang="en-US" dir="ltr">

<table width="1000" cellpadding="0" cellspacing="0" align="center">
	<col width="40%">
	<col width="60%">
	<tr valign="center" height = "140">
		<td width="40%" style="border: none; padding: 0in">
			<p align="right"><img src="{{ url_for('static',filename="3D-ppLogoSmall.gif") }}" alt="Your LOGO Here" style="width:400px;height:140px;"></p>
		</td>
		<td width="60%" style="border: none; padding: 0in">
			<p><font size="6" face="Nimbus Sans L, sans-serif"><b>{{ title }}</b></font></p>
        </td>
	</tr>
</table>
	
<table width="1000" cellpadding="0" cellspacing="0" align="center">
<!--    <col width="14%">
	<col width="14%">
	<col width="14%">
	<col width="14%">
	<col width="14%">
	<col width="14%">
	<col width="14%"> -->
	<tr valign="center" height = "80">
		<td  bgcolor="#993300">
			<p id="p1" >{{ labels[0] }}</p>
		</td>
		<td  bgcolor="#ff0000">
			<p id="p1" >{{ labels[1] }}</p>
		</td>
		<td  bgcolor="#ffcc00">
			<p id="p2" >{{ labels[2] }}</p>
		</td>
		<td  bgcolor="#ffff00">
			<p id="p2" >{{ labels[3] }}</p>
		</td>
		<td  bgcolor="#009900">
			<p id="p2" >{{ labels[4] }}</p>
		</td>
		<td  bgcolor="#0000ff">
			<p id="p1" >{{ labels[5] }}</p>
		</td>
		<td  bgcolor="#6600ff">
			<p id="p1" >{{ labels[6] }}</p>
		</td>
	</tr>
	<tr valign="center" height = "80">
		<td bgcolor="#993300">
			<a href="1on"><p align="center"><img src="{{ url_for('static',filename="GoSmall.png") }}" alt="Go Button" style="width:128px;height:128px;"></p> </a>
		</td>
		<td bgcolor="#ff0000">
			<a href="2on"><p align="center"><img src="{{ url_for('static',filename="GoSmall.png") }}" alt="Go Button" style="width:128px;height:128px;"></p></a>
		</td>
		<td bgcolor="#ffcc00">
			<a href="3on"><p align="center"><img src="{{ url_for('static',filename="GoSmall.png") }}" alt="Go Button" style="width:128px;height:128px;"></p></a>
		</td>
		<td bgcolor="#ffff00">
			<a href="4on"><p align="center"><img src="{{ url_for('static',filename="GoSmall.png") }}" alt="Go Button" style="width:128px;height:128px;"></p></a>
		</td>
		<td bgcolor="#009900">
			<a href="5on"><p align="center"><img src="{{ url_for('static',filename="GoSmall.png") }}" alt="Go Button" style="width:128px;height:128px;"></p></a>
		</td>
		<td bgcolor="#0000ff">
			<a href="6on"><p align="center"><img src="{{ url_for('static',filename="GoSmall.png") }}" alt="Go Button" style="width:128px;height:128px;"></p></a>
		</td>
		<td bgcolor="#6600ff">
			<a href="7on"><p align="center"><img src="{{ url_for('static',filename="GoSmall.png") }}" alt="Go Button" style="width:128px;height:128px;"></p></a>
		</td>
	</tr>
	<tr valign="center" height = "80">
		<td  bgcolor="#993300">
			<a href="1off"><p align="center"><img src="{{ url_for('static',filename="StopSmall.png") }}" alt="Stop Button" style="width:128px;height:128px;"></p> </a>
		</td>
		<td bgcolor="#ff0000">
			<a href="2off"><p align="center"><img src="{{ url_for('static',filename="StopSmall.png") }}" alt="Stop Button" style="width:128px;height:128px;"></p></a>
		</td>
		<td bgcolor="#ffcc00">
			<a href="3off"><p align="center"><img src="{{ url_for('static',filename="StopSmall.png") }}" alt="Stop Button" style="width:128px;height:128px;"></p></a>
		</td>
		<td bgcolor="#ffff00">
			<a href="4off"><p align="center"><img src="{{ url_for('static',filename="StopSmall.png") }}" alt="Stop Button" style="width:128px;height:128px;"></p></a>
		</td>
		<td bgcolor="#009900">
			<a href="5off"><p align="center"><img src="{{ url_for('static',filename="StopSmall.png") }}" alt="Stop Button" style="width:128px;height:128px;"></p></a>
		</td>
		<td bgcolor="#0000ff">
			<a href="6off"><p align="center"><img src="{{ url_for('static',filename="StopSmall.png") }}" alt="Stop Button" style="width:128px;height:128px;"></p></a>
		</td>
		<td bgcolor="#6600ff">
			<a href="7off"><p align="center"><img src="{{ url_for('static',filename="StopSmall.png") }}" alt="Stop Button" style="width:128px;height:128px;"></p></a>
		</td>
	</tr>
	<tr valign="center" height = "80">
		<td bgcolor="#993300">
			<p id='p1'>{{ status[0] }}</p>
		</td>
		<td bgcolor="#ff0000">
			<p id='p1'>{{ status[1] }}</p>
		</td>
		<td bgcolor="#ffcc00">
			<p id='p2'>{{ status[2] }}</p>
		</td>
		<td bgcolor="#ffff00">
			<p id='p2'>{{ status[3] }}</p>
		</td>
		<td bgcolor="#009900">
			<p id='p2'>{{ status[4] }}</p>
		</td>
		<td bgcolor="#0000ff">
			<p id='p1'>{{ status[5] }}</p>
		</td>
		<td bgcolor="#6600ff">
			<p id='p1'>{{ status[6] }}</p>
		</td>
	</tr>
    
</table>

</body>
</html>